:root {
  font-size: 10px;
  --navbar-height: 75px;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

nav {
  min-height: var(--navbar-height);
  width: 100%;
  position: fixed !important;
  top: 0;
  left: 0;
  z-index: 999;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

nav .navbar-brand {
  font-size: 2.5rem;
  -webkit-transition: font-size .5s ease;
  transition: font-size .5s ease;
}

nav .navbar-nav {
  font-size: 2.8rem;
}

nav .navbar-nav .nav-item {
  padding: 0 15px;
}

nav .navbar-nav .nav-item > a > i {
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  -webkit-transform-origin: center;
          transform-origin: center;
  color: rgba(255, 255, 255, 0.8);
}

nav .navbar-nav .nav-item:hover > a > i, nav .navbar-nav .nav-item:focus > a > i {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  color: white;
}

nav.bg_visible {
  min-height: calc( var(--navbar-height) - 30px);
  background-color: #0a0d46;
}

nav.bg_visible .navbar-brand {
  font-size: 2rem;
}

nav.bg_visible .navbar-nav {
  font-size: 2.3rem;
}

.jumbotron {
  background: -webkit-gradient(linear, left top, left bottom, from(#016fce), to(#00133b));
  background: linear-gradient(#016fce, #00133b);
  background-image: url("/public/img/background.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.jumbotron .container {
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #a1d3ff;
}

.jumbotron .container #jumbotron__text {
  text-align: center;
}

.jumbotron .container #jumbotron__text h1 {
  font-size: 5rem;
}

.jumbotron .container #jumbotron__text p {
  font-size: 2rem;
}

.jumbotron .container #jumbotron__text .cursor {
  margin-top: 0.2em;
  background-color: #a1d3ff;
}

.jumbotron .container .btn {
  border-radius: 1.2rem;
  border: solid 2px #a1d3ff;
  padding: .2em .8em;
  overflow: hidden;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  width: 56px;
  color: #a1d3ff;
  font-size: 2rem;
  -webkit-box-shadow: 0 0 15px 2px #a1d3ff, inset 0 0 5px 0px #a1d3ff;
          box-shadow: 0 0 15px 2px #a1d3ff, inset 0 0 5px 0px #a1d3ff;
}

.jumbotron .container .btn:hover, .jumbotron .container .btn:focus {
  width: 220px;
}

.jumbotron .container .btn:hover .icon > i:first-child, .jumbotron .container .btn:focus .icon > i:first-child {
  -webkit-animation: fade 1.2s linear 0s infinite alternate;
          animation: fade 1.2s linear 0s infinite alternate;
}

.jumbotron .container .btn:hover .icon > i:nth-child(2), .jumbotron .container .btn:focus .icon > i:nth-child(2) {
  -webkit-animation: fade 1.2s linear 0.1s infinite alternate;
          animation: fade 1.2s linear 0.1s infinite alternate;
}

.jumbotron .container .btn:hover .icon > i:nth-child(3), .jumbotron .container .btn:focus .icon > i:nth-child(3) {
  -webkit-animation: fade 1.2s linear 0.2s infinite alternate;
          animation: fade 1.2s linear 0.2s infinite alternate;
}

.jumbotron .container .btn p {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding-left: 20px;
  white-space: nowrap;
}

@-webkit-keyframes fade {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@keyframes fade {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

main {
  background-color: #f7f7f7;
}

main > .container {
  min-height: 500px;
}

main .cards {
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .cards .card {
  width: min(450px, 95%);
  background-color: #f7f7f7;
  border: none;
  -webkit-box-shadow: 8px 8px 10px 0 #fff, -8px -8px 10px 0 #e6e6e6;
          box-shadow: 8px 8px 10px 0 #fff, -8px -8px 10px 0 #e6e6e6;
  border-radius: 20px;
}

main .cards .card .card-body h4 {
  font-size: 2.5rem;
}

main .cards .card .card-body p, main .cards .card .card-body a {
  font-size: 1.5rem;
}

footer .lead {
  font-size: 2rem;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .jumbotron .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 0 8%;
  }
  .jumbotron .container #jumbotron__text {
    text-align: left;
  }
  .jumbotron .container #jumbotron__text h1 {
    font-size: 6rem;
  }
  .jumbotron .container #jumbotron__text p {
    font-size: 3rem;
  }
  .jumbotron .container .btn {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
    -webkit-transform-origin: left;
            transform-origin: left;
  }
  main .cards {
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  main .cards .card ~ .card {
    margin-left: 5%;
  }
  footer .lead {
    font-size: 3rem;
  }
}
/*# sourceMappingURL=style.css.map */